version: '3.8'

services:
  app:
    build:
      context: ./docker/php
    container_name: laravel-app
    volumes:
      - ./docker/php/conf.d/upload.ini:/usr/local/etc/php/conf.d/upload.ini:ro
      - ./laravel:/var/www/html
    networks:
      - main
    depends_on:
      - db

  nginx:
    image: nginx:stable
    container_name: laravel-nginx
    ports:
      - "8081:80"
    volumes:
      - ./laravel:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - main
    depends_on:
      - app

  db:
    image: postgres:16
    container_name: laravel-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: laravel
      POSTGRES_USER: laravel
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data
    networks:
      - main

networks:
  main:

volumes:
  dbdata:
    driver: local
